<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>TimeLogFilter</filter-name>
    <filter-class>filter.TimeLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeLogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listener.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>servlet.BookDownloadServlet</servlet-name>
    <servlet-class>servlet.BookDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.BookUploadServlet</servlet-name>
    <servlet-class>servlet.BookUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet.BookDownloadServlet</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.BookUploadServlet</servlet-name>
    <url-pattern>/load-book</url-pattern>
  </servlet-mapping>
</web-app>
